body {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  color: white;
  background-color: #15c0b0;
  padding: 0 2rem;

  img {
    width: 3em;
  }
}

main {
  color: #333333;
  margin: 5em 0;

  h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: large;
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 1rem;
  }

  p,
  li {
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  a {
    color: #ff60c0;
    text-decoration: underline;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

footer {
  color: white;
  background-color: #333333;
  padding: 5em 0;

  p {
    font-size: small;
    text-align: center;
  }
}
