body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  min-height: 100dvh;
}

a:hover {
  opacity: 0.8;
}

header {
  color: white;
  background-color: #15c0b0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  img {
    width: 3rem;
    margin-left: -0.9rem;
  }

  nav {
    font-weight: 900;

    ul {
      display: flex;
      gap: 1rem;
    }
  }

  &:is(.header--home) {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}

main {
  &:not(:is(.main--home)) {
    color: #333333;
    margin: 5em 0;

    .container {
      max-width: 768px;
      margin: 0 auto;
      padding: 0 2rem;
    }

    h1 {
      font-size: 2rem;
      font-weight: 900;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: large;
      font-weight: bold;
      margin-top: 3em;
      margin-bottom: 1rem;
    }

    p,
    li {
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }

    a {
      color: #ff60c0;
      text-decoration: underline;
    }
  }

  &:is(.main--home) {
    color: white;
    background-color: #15c0b0;
    height: 100dvh;
    display: grid;
    place-items: center;

    a:hover {
      filter: none;
      opacity: 0.8;
    }

    .container {
      position: relative;

      .icon {
        position: relative;

        img {
          display: block;
          width: 33vw;
          height: 33vw;

          &:first-child {
            @keyframes loop {
              from {
                transform: translateX(0%);
              }

              to {
                transform: translateY(-10%);
              }
            }

            position: absolute;
            animation: ease-in-out 2s infinite alternate loop;
          }
        }
      }

      .social {
        width: 100vw;
        margin-inline: calc(50% - 50vw);
        position: absolute;
        right: 0;
        bottom: -3rem;
        left: 0;

        ul {
          display: flex;
          justify-content: center;
          gap: 2rem;

          li {
            img {
              display: block;
              width: 18px;
              height: 18px;
            }

            &:is(.social__huggingface, .social__kaggle) img {
              filter: invert(1);
              mix-blend-mode: screen;
            }

            &:is(.social__huggingface) a:hover {
              mix-blend-mode: screen;
            }
          }
        }
      }
    }
  }
}

footer {
  color: white;
  padding: 5em 0;

  p {
    font-size: small;
    text-align: center;
  }

  &:not(:is(.footer--home)) {
    background-color: #333333;
    position: sticky;
    top: 100%;
  }

  &:is(.footer--home) {
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
